.homeContainer{
margin-bottom: 20px;
text-align: center;
border: 1px solid #ddd;
border-radius: 4px;;

margin-left: 10%;
margin-right: 10%;
min-height: 300px;
padding-top: 2%;

}


.photogListContainer{
margin-bottom: 20px;
text-align: left;
margin-left: 10%;
margin-right: 10%;
min-height: 300px;
padding: 2%;
border: 1px solid #ddd;
border-radius: 4px;;

}
.photogListContainer .thumbnail{
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.22);
	border: none;
}

.photogListContainer .row{
	margin: 0;
	margin-bottom: 15px;
	margin-top: 15px;
}

.profilePicture{
	width: 20%
}

.bestShotModal .modelImage {
	width: 100%;
	text-align: center;

}


.bestShotModal .modalBody{
	text-align: center;
}
.modalContent{
	padding: 2%;
}