<form class="form-horizontal" ng-submit="login()">
<fieldset>

<!-- Form Name -->
<legend>Login Page</legend>
<h3 style="color: red">{{msg}}</h3>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">username</label>  
  <div class="col-md-4">
  <input id="textinput" name="name" ng-model="user.username" type="text" placeholder="placeholder" class="form-control input-md">  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">password</label>
  <div class="col-md-4">
    <input id="passwordinput" name="password" ng-model="user.password" type="password" placeholder="placeholder" class="form-control input-md">    
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4" style="text-align: left;">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Login</button>
    <a ng-href="#register">Sign Up</a>
  </div>
</div>
</fieldset>
</form>