<div class="panel panel-primary">
  <div class="panel-heading">Photographer Home</div>
  <div class="panel-body">
		<div class="list-group">
		<a href="#" class="list-group-item">some way to go back to home</a>
		<a href="" class="list-group-item">A Sign up link kung gusto nya mag signup</a>
		<a href="" class="list-group-item">Pag naka sign in link to view/update profile kasama na desc/availability/price/porfolio etc</a>
		<a href="" class="list-group-item">List of people looking for photographer (pakita siguro top 5 recent dito)</a>
		</div>
  </div>
</div>