<form class="form-horizontal" ng-submit="register()">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>
<h3 style="color: red">{{msg}}</h3>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">username</label>  
  <div class="col-md-4">
  <input id="textinput" name="username" ng-model="user.username" type="text" placeholder="placeholder" class="form-control input-md">  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">name</label>  
  <div class="col-md-4">
  <input id="textinput" name="name" ng-model="user.name" type="text" placeholder="placeholder" class="form-control input-md">  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">password</label>
  <div class="col-md-4">
    <input id="passwordinput" name="password" ng-model="user.password" type="password" placeholder="placeholder" class="form-control input-md">    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">confirm password</label>
  <div class="col-md-4">
    <input id="passwordinput" name="passwordconfirm" ng-model="user.passwordconfirm" type="password" placeholder="placeholder" class="form-control input-md">    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">User Type</label>
  <div class="col-md-4">
  <div class="radio" style="text-align: left;">
    <label for="radios-0">
      <input type="radio" name="radios" ng-model="user.usertype" id="radios-0" value="photographer" checked="checked">
      Photographer
    </label>
	</div>
  <div class="radio" style="text-align: left;">
    <label for="radios-1">
      <input type="radio" name="radios" ng-model="user.usertype" id="radios-1" value="client">
      Looking For Photographer
    </label>
	</div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4" style="text-align: left;">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
