.client-main-container{
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.26);
	min-height: 500px;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: -30px;
	background-color: whitesmoke;
}

.client-header-container{
	padding:2%;
	background-color: #A9A993;
	max-height: 72px;
	height:72px;
}