.client-main-container{
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.26);
	min-height: 500px;
	background-color: whitesmoke;
}

.client-header-container{
	max-height: 72px;
	height:72px;
}

.cards-header{

}

.cards > div{
	width: 240px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	border-bottom: 1px solid #c6c6c6;
	float: left;
	border-right: 1px solid #c6c6c6;
	background: #ddd;
}

.cards > div:hover{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.2);
}

.cards .cards-main{
	height: 100%;
	width:100%;
}

.cards .cards-main > img{
	width: 240px;
	height: 200px;
	padding: 10px;
}

.cards .cards-label{
	position: relative;
	top: -50px;
	height: 50px;
	width:100%;
	background-color: #DCDCDC;
	background-color: rgba(220, 220, 220, 1);
}

.cards .cards-label > div{
	text-align: left;
	padding: 2px 5px;
}

.cards-header {
	background-color: #DCDCDC;
	border-right: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1) inset;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1) inset;
	padding: 10px 0 5px 10px;
}

.cards-header  .label{
	font-size: 28px;
	text-shadow: 0px 1px rgba(255,255,255,0.8);
	font-weight: lighter;
	float: left; 
	color: #888888;
}