
.profile-option-container{
	padding: 0px;
	padding-top: 10px;


}

.profile-content-container{
	padding: 0px;
	padding-top: 10px;
}

.profile-option{
	padding:0px;
	margin: 5px;
	background-color: white;

}
.profile-content{
	padding:0px;
	margin: 5px;
	min-height: 480px;
}
.material-card-image-profile{
	width: 76%;
	height: 80%;
}